.btn-white {
    color: $primary!important;
    background-color: $white!important;
    border-color: $white;
    font-weight: 300!important;
    transition: .3s all!important;
    letter-spacing: inherit!important;
    &:hover {
        background-color: #d2d2d2!important;
        border-color: #d2d2d2;
    }
}

.btn-outline-white {
    color: $white!important;
    background-color: transparent!important;
    border-color: $white!important;
    font-weight: 300!important;
    transition: .3s all!important;
    letter-spacing: inherit!important;
    &:hover {
        color: $primary!important;
        background-color: #d2d2d2!important;
        border-color: #d2d2d2;
    }
}

.btn {
    &.btn-secondary {
        letter-spacing: inherit;
    }
}
