body {
	overflow-x: hidden!important;
}

/********Global Css*********/

.font-serif {
	font-family: sans-serif!important;
}

/*****Footer BG****/
footer {
	padding: 40px 0 40px;
	@include media-breakpoint-down(sm) {
		padding: 40px 0 40px;
	}
}

/****** Banner Section ******/
.banner-section {
	background: #12141D;
	padding: 70px 0 0 0;
	width: 100%;
	.banner-title {
		font-size: 68px;
		@include media-breakpoint-down(xs) {
			font-size: 40px;
		}
	}
	.banner-content {
		font-size: 17px;
		opacity: 0.7;
		line-height: 1.5;
	}
	&.event-banner {
		background: linear-gradient(180deg, rgba(43, 89, 255, 0) 26.13%, rgba(43, 89, 255, 0.2) 100%), $primary;
	}
}

.banner-section-auto {
	height: auto;
  }
  
  .banner-section-full {
	height: 100%;
  }
  
  @include media-breakpoint-only(lg) {
	.banner-section-medium {
	  height: 750px;
	}
  }
  
  @include media-breakpoint-only(md) {
	.home-banner-section {
	  &.banner-section-medium {
		height: 750px;
	  }
	}
  }

  @include media-breakpoint-down(sm) {
	.home-banner-section {
		&.banner-section-medium {
			height: 685px;
		}
		.cards-sec {
			margin-top: 14rem;
		}
	}
  }
  
  @include media-breakpoint-up(lg) {
	.banner-section-small {
	  height: 300px;
	}
  }
  
  @include media-breakpoint-only(xl) {
	.banner-section-medium {
	  height: 740px;
	}
  }

/********* Minibox Style *********/
  
.mini-box-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 25px;
	@media only screen and (max-width: 768px) {
		display: block;
	}
	.mini-box {
		display: flex;
		flex-direction: column;
		// align-items: center;
	}
}

/********* HOME Style *********/

.img-sec-2 {
	position: absolute;
	top: -15rem;
}

.cards-sec {
	margin-top: 22rem;
	// @include media-breakpoint-only(lg) {	
	// 	margin-top: 16rem;
	// }
}

.card-deck {
	&.photofinder-work {
		.card {
			box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
			border-radius: 8px;
			border: none;
		}
		@media (max-width: 767px) {
			display: block;
			.card {
				margin-bottom: 15px;
			}
		}
	}
}

.photofinder-box {
	background: linear-gradient(180deg, $white 42%, $primary 0%);
}


.home-banner-wrapper {
	display: flex;
}

.home-banner-item {
	&.inner {
	  display: flex;
	}
}

.second-sec {
	background: linear-gradient(180deg, $primary 20%, $white 0%);
	@include media-breakpoint-down(sm) {
		background: linear-gradient(180deg, $primary 15%, $white 0%);
	}
	&.event-sec {
		background: linear-gradient(180deg,#17214a 38%, $white 0%);
		@include media-breakpoint-down(sm) {
			background: linear-gradient(180deg,#17214a 100%, $white 0%);
		}
	}
}

// .fmp-box-text {
// 	font-size: 2.2rem;
// }

.speaker-box-overlap {
	bottom: 28px;
    left: 40px;
    width: 192px;
}

/**************** Site Preloader *****************/

.site-preloader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
	background: #fff;
	.animation-preloader {
		position: absolute;
		z-index: 100;
		.spinner {
			animation: spinner 1s infinite linear;
			border-radius: 50%;
			border: 5px solid rgba(111, 170, 65, .15);
			border-top-color: #6faa43;
			height: 150px;
			margin: 0 auto 45px auto;
			width: 150px;
		}
		.txt-loading {
			text-align: center;
			user-select: none;
			.letters-loading{
				font-family: Lato, sans-serif;
				font-weight: 700;
				letter-spacing: 2px;
				display: inline-block;
				color: rgba(111, 170, 65, .15);
				position: relative;
				font-size: 25px;
				line-height: 0;
				&:before {
					animation: letters-loading 4s infinite;
					color: #6faa43;
					content: attr(data-text-preloader);
					left: 0;
					opacity: 0;
					top: 0;
					line-height: 0;
					position: absolute;
				}
				&:nth-child(2):before {
					animation-delay: .2s
				}
				&:nth-child(3):before {
					animation-delay: .4s
				}
				&:nth-child(4):before {
					animation-delay: .6s
				}
				&:nth-child(5):before {
					animation-delay: .8s
				}
				&:nth-child(6):before {
					animation-delay: 1s
				}
				&:nth-child(7):before {
					animation-delay: 1.2s
				}
				&:nth-child(8):before {
					animation-delay: 1.4s
				}
				&:nth-child(9):before {
					animation-delay: 1.6s
				}
				&:nth-child(10):before {
					animation-delay: 1.8s
				}
				&:nth-child(11):before {
					animation-delay: 2.0s
				}
			}
		}
	}
}

@keyframes spinner {
    to {
        transform: rotateZ(360deg)
    }
}

@keyframes letters-loading {
    0%,
    100%,
    75% {
        opacity: 0;
        transform: rotateY(-90deg)
    }
    25%,
    50% {
        opacity: 1;
        transform: rotateY(0)
    }
}

@media screen and (max-width:767px) {
    .site-preloader {
		.animation-preloader {
			.spinner {
				height: 8em;
				width: 8em
			}
		} 
	} 
}

@media screen and (max-width:500px) {
    .site-preloader {
		.animation-preloader {
			.spinner {
				height: 7em;
				width: 7em;
				margin: 0 auto 20px;
			}
			.txt-loading {
				.letters-loading {
					font-size: 20px;
					letter-spacing: 0;
				}
			} 
		} 
	} 
}